html {
    font-size: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

html,
body {
    padding: 0;
    margin: 0;
}

html,
body,
root,
.App {
    height: 100%;
}

*,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a,
a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main {
    height: calc(100% - 6.5rem);
    max-width: 18.5rem;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}