@import "~bootstrap/scss/bootstrap";
.header {
    h1 {
        display: inline-flex;
        margin-top: 35px;
    }
    height: 3rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    .wrap {
        position: relative;
        width: 15rem;
        top: 100%;
        left: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    ul,
    li {
        margin: 10;
        padding: 20;
    }
    li {
        display: inline-block;
        margin-right: 40px;
    }
    a {
        font-size: 1.8rem;
        text-decoration: none;
        cursor: pointer;
    }
}